{% extends "base.html" %}
{% block title %}Lutherville Timonium - SafeArea19{% endblock %}

{% block content %}
<button type="button" class="btn btn-success">Low Risk</button><br>
<button type="button" class="btn btn-secondary">Unknown Amount of Cases</button><br>
<button type="button" class="btn btn-info" href="https://coronavirus.maryland.gov/">The CDC still recommends for everyone going out to wear Face Masks, stay 6FT Away from others, and wash your hands. For More info Click Here</button><br><br>
{% endblock %}
