{% extends "base.html" %}
{% block title %}How To Use - SafeArea19{% endblock %}

{% block content %}
<h1>How To Use SafeArea19</h1>
<p class="text-justify">Right Now SafeArea19 is only in Maryland. We are branching out to hopefully most of the USA Soon. If you do find a SafeArea19 QR Code scan it and follow the website. Then you will be given recommendation for your area and the Risk. PLEASE DO NOT TOUCH ANY SafeArea19 QR Cards or you can increase your risk of contracting the COVID-19 Virus.</p>
{% endblock %}
